<div class="form">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%#= f.input :ingredient %>
    <%= f.submit "Create cocktail", class: "btn btn-primary" %>
  <% end %>
</div>
