<h2><%= @cocktail.name %></h2>

<%= link_to "Delete #{@cocktail.name}",
            cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to 'Back', cocktails_path %> |
