<h2><%= @cocktail.name %></h2>

<%#= link_to "Delete #{@cocktail.name}",
            cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%#= link_to 'Edit', edit_cocktail_path(@cocktail) %>
<%= link_to 'Back', cocktails_path %> |
<%#= link_to 'Leave a review', new_cocktail_review_path(@cocktail) %>
